# phpstorm project files
/.idea

# vscode project files
/.vscode

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer
/vendor/
composer.phar
composer.lock

# Mac DS_Store Files
.DS_Store

# ignores cache files
.php-cs-fixer.cache
.phpunit.result.cache