includes:
	- vendor/webifycms/dev-tools/phpstan-default.neon

parameters:
	bootstrapFiles:
		- vendor/yiisoft/yii2/Yii.php
	paths:
		- src
		- test
	excludePaths:
		- vendor
		- templates
	ignoreErrors:
	    - '#^Method Webify\\Base\\Infrastructure\\Service\\Application\\ApplicationServiceInterface::getService\(\) invoked with 1 parameter, 3 required\.$#'